<section class="blog" id="blog">
  <div class="container blog-container">
    <div class="blog-content-wrapper">
      <p class="blog-subtitle">April 16 2020</p>
      <h2 class="blog-title">blog post one</h2>
      <p class="blog-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="blog-link link" href="">read our blog</a>
    </div>
    <img
      src="./images/blog-post/blog-post.jpg"
      alt="notebooks"
      width="680"
      height="517"
    />
  </div>
</section>
