<section class="callback">
  <div class="container callback_container">
    <div class="callback_img_box">
      <img
        class="callback_img"
        src="./images/callback/rectangle.jpg"
        max-width="680px"
        alt="man looking at laptop"
      />
    </div>

    <form name="request-callback" class="callback_form">
      <h2 class="cases-title">Request Callback</h2>

      <input type="text" name="username" placeholder="Enter your name" />

      <input type="mail" name="mail" placeholder="Enter email*" />

      <button type="submit" class="callback_btn">Send</button>
    </form>
  </div>
</section>
