<section class="team">
  <div class="container team-container">
    <p class="team-description">Who we are</p>
    <h2 class="team-title">Our Professional Team</h2>
    <p class="team-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-item">
        <div class="team-pictures">
          <img
            class="team-photo"
            src="./images/team/John Doe.jpg"
            alt="team"
            width="420"
          />
          <div class="team-social">
            <a href=""></a>
            <svg class="socials-icon">
              <use href="./images/team/icons.svg#icon-facebook"></use>
            </svg>
            <svg class="socials-icon">
              <use href="./images/team/icons.svg#icon-twitter"></use>
            </svg>
            <svg class="socials-icon youtube">
              <use href="./images/team/icons.svg#icon-youtube"></use>
            </svg>
            <svg class="socials-icon linkedin">
              <use href="./images/team/icons.svg#icon-linkedin"></use>
            </svg>
          </div>
        </div>

        <h3 class="team-name">John Doe</h3>
        <p class="team-job">President</p>
      </li>

      <li class="team-item">
        <div class="team-pictures">
          <img
            class="team-photo"
            src="./images/team/Jane Doe.jpg"
            alt="team"
            width="420"
          />
          <div class="team-social">
            <a href=""></a>
            <svg class="socials-icon">
              <use href="./images/team/icons.svg#icon-facebook"></use>
            </svg>
            <svg class="socials-icon">
              <use href="./images/team/icons.svg#icon-twitter"></use>
            </svg>
            <svg class="socials-icon youtube">
              <use href="./images/team/icons.svg#icon-youtube"></use>
            </svg>
            <svg class="socials-icon linkedin">
              <use href="./images/team/icons.svg#icon-linkedin"></use>
            </svg>
          </div>
        </div>

        <h3 class="team-name">Jane Doe</h3>
        <p class="team-job">Vice President</p>
      </li>

      <li class="team-item">
        <div class="team-pictures">
          <img
            class="team-photo"
            src="./images/team/Steve Smith.jpg"
            alt="team"
            width="420"
          />
          <div class="team-social">
            <a href=""></a>
            <svg class="socials-icon">
              <use href="./images/team/icons.svg#icon-facebook"></use>
            </svg>
            <svg class="socials-icon">
              <use href="./images/team/icons.svg#icon-twitter"></use>
            </svg>
            <svg class="socials-icon youtube">
              <use href="./images/team/icons.svg#icon-youtube"></use>
            </svg>
            <svg class="socials-icon linkedin">
              <use href="./images/team/icons.svg#icon-linkedin"></use>
            </svg>
          </div>
        </div>

        <h3 class="team-name">Steve Smith</h3>
        <p class="team-job">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
